<div class="mb-3">
  <h2>Países</h2>
  <hr>
  
  <ul class="list-group">
    <li routerLink="country/by-capital"
      routerLinkActive="active"
      class="list-group-item list-group-item-action list-group-item-dark">
      Por capital
    </li>
  
    <li routerLink="country/by-country"
      routerLinkActive="active"
      class="list-group-item list-group-item-action list-group-item-dark">
      Por país
    </li>
  
    <li routerLink="country/by-region"
      routerLinkActive="active"
      class="list-group-item list-group-item-action list-group-item-dark">
      Por región
    </li>
  
  </ul>


</div>
